version: '3.8'
services:
  gateway:
    build: gateway
    container_name: gateway
    ports:
      - "8080:8080"
    environment:
      - SHAREIT_GATEWAY_PORT=http://server:8080
      - SHAREIT_SERVER_URL=http://localhost:9090

  server:
    build: server
    container_name: server
    ports:
      - "9090:9090"
    depends_on:
      - db
    environment:
      - SHAREIT_SERVER_PORT=http://localhost:9090
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/shareit
      - SPRING_DATASOURCE_USERNAME=user
      - SPRINT_DATASOURCE_PASSWORD=password

  db:
    image: postgres:13.7-alpine
    container_name: db
    ports:
      - "6541:5432"
    environment:
      - POSTGRES_DB=shareit
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password